<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="Enter your username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>

      <!-- Add a container for the button to center it -->
      <div class="btn-container-submit">
        <button type="submit" [disabled]="!loginForm.valid" class="btn">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
