/* Center the form container on the screen */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #f7f7f7;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 400px;  /* Adjust the minimum height */
  max-width: 800px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 400px; /* Adjust the minimum height */
  max-width: 800px;  /* Max width for the form */
}

h2 {
  text-align: center;
  color: #4b8b3b;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}

input.form-control {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures the padding is included in width */
}

input.form-control:focus {
  border-color: #4b8b3b;
  outline: none;
}

button.btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #4b8b3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;  /* Adds space between fields and button */
}

button.btn:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

button.btn:hover:not(:disabled) {
  background-color: #99be60;
}

/* Optional: Add a little space for the form elements */
.form-group + .form-group {
  margin-top: 20px;
}

/* Invalid feedback styling */
.invalid-feedback {
  color: red;
}

.is-invalid {
  border-color: red;
}
