<div class="meal-planner">
  <div class="planner-header">
    <h1>My <span class="highlight">Meal</span> Planner</h1>
    <input type="text" id="week" [value]="'Week ' + weekNumber" readonly />
  </div>

  <table class="planner-table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Breakfast</th>
        <th>Lunch</th>
        <th>Dinner</th>
        <th>Snacks</th>
        <th></th> <!-- For "Add Meal" button -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of days">
        <td>{{ day.weekday }}</td>

        <!-- Breakfast -->
        <td>
          <ng-container *ngIf="getMealObject(day, 'BREAKFAST') as meal">
            {{ meal.description }}
            <button mat-icon-button color="warn" (click)="deleteMeal(meal.mealId, day)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>

        <!-- Lunch -->
        <td>
          <ng-container *ngIf="getMealObject(day, 'LUNCH') as meal">
            {{ meal.description }}
            <button mat-icon-button color="warn" (click)="deleteMeal(meal.mealId, day)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>

        <!-- Dinner -->
        <td>
          <ng-container *ngIf="getMealObject(day, 'DINNER') as meal">
            {{ meal.description }}
            <button mat-icon-button color="warn" (click)="deleteMeal(meal.mealId, day)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>

        <!-- Snacks -->
        <td>
          <ng-container *ngIf="getMealObject(day, 'SNACKS') as meal">
            {{ meal.description }}
            <button mat-icon-button color="warn" (click)="deleteMeal(meal.mealId, day)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </td>
        <!-- Add Meal Button -->
        <td>
          <button mat-flat-button class="custom-button" (click)="selectDay(day)">Add Meal</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal for Adding Meal -->
  <div *ngIf="selectedDay">
    <div class="modal-overlay" *ngIf="showModal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <h2 class="addMeal">Add Meal for {{ selectedDay.weekday }}</h2>
        <form (ngSubmit)="addMeal()">
          <label for="type">Meal Type:</label>
          <select [(ngModel)]="meal.type" name="type" id="type" required>
            <option value="BREAKFAST">Breakfast</option>
            <option value="LUNCH">Lunch</option>
            <option value="DINNER">Dinner</option>
            <option value="SNACKS">Snacks</option>
          </select>

          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            [(ngModel)]="meal.description"
            name="description"
            required
          />

          <button type="submit" [disabled]="!meal.type || !meal.description">Save</button>
          <button type="button" (click)="cancelMealForm()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <button class="print" onclick="window.print()">Print this page</button>
</div>
